# Configurações da API
VITE_API_BASE_URL=https://production-manager-api.onrender.com/v1

# Desenvolvimento / Mocks
# Mude para 'true' para usar mocks automáticos se a API real falhar ou estiver em manutenção
VITE_USE_MOCKS=false

# Persistence Toggle
# true = usa db.json local (ou arquivos em data/) para persistência | false = encaminha para API externa
VITE_USE_LOCAL_SECTORS=true
VITE_USE_LOCAL_PRODUCTS=true
VITE_USE_LOCAL_GOALS=true
VITE_USE_LOCAL_PLANNING=true
VITE_USE_LOCAL_PRODUCTION=true

# Firebase Configuration
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_FIRESTORE_DB_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=

# Prisma ORM
DATABASE_URL=file:./dev.db

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=