# Configurações da API
VITE_API_BASE_URL=https://production-manager-api.onrender.com/v1

# Desenvolvimento / Mocks
# Mude para 'true' para usar mocks automáticos se a API real falhar ou estiver em manutenção
VITE_USE_MOCKS=false
